/* reset the body first to clear chrome(browser) defaults */
body {
    margin: 0;
    /* padding: 0; */
}

/* nav-bar */

.navbar {
    display: flex;
    color: #ffffff;
    background-color: #000000;
    padding: 1px 100px;
}

.logo {
    width: 100px;
    height: 40px;
    padding-right: 60px;
    /* padding-bottom: 10px; */
    border-right: 1px solid #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.list {
    padding: 30px 50px;
    display: flex;
    list-style-type: none;
    /* margin: 50px; */
    justify-content: space-between;
    width: 700px;
    margin-left: 50px;
}

.list-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#apps::after {
    margin-left: 5px;
    height: 20px;
    content: '>';
    display: inline-block;
    transform: rotate(90deg);
}

.button-small {
    position: absolute;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    background-color: #BA0CC5;
    text-align: center;
    /* size: 200px; */
    padding: 10px 40px;
    border: none;
    border-radius: 0.5rem;
    margin-top: 40px;
    margin-left: 300px;
}

/* 
.container {
    position: relative;
} */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    font-family: 'Montserrat';
}

.hero-heading { 
    text-align: center;
    color: #ffffff;
    font-size: 75px;
    width: 50%;
    /* line-height: 90px; */
    font-weight: 600;
    position: relative;
    margin-top: -150px;
    /* margin-bottom: 380px; */
}

.hero-description {
    position: relative;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    margin-top: -40px;
    margin-bottom: 50px;

    /* margin-bottom: 80px; */
}

.button-large {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    background-color: #BA0CC5;
    padding: 20px 30px;
    border: none;
    border-radius: 20px;
}