body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.heading-text {
    margin-left: -60px;
    padding: 20px 200px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 75px;
    color: #3C2F60;
}

span {
    color: #5955B3;
}

.description {
    color: #a59f9f;
    margin-top: -70px;
    margin-left: 150px;
    /* padding-left: 210px; */
    font-weight: 300px;
    inline-size: 400px;
}

/* now buttons */

.button-group>.nav-button {
    position: relative;
    left: 42rem;
    padding: 22px 40px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #5955B3;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
/* logo */

#logo-img {
    width: 112px;
    height: 40px;
}

.navbar-container {
   display: flex;
    padding: 100px 155px;
    /* margin-left: 150px; */
}

/* list */

.list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 40px;
}

li.list-item{
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#home-nav {
    font-weight: 400;
    color: #000000;
}

.list-item {
    color: #a59f9f;
    list-style-type: none;
}

.grow-list .list {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

/* main image */

.banner-container {
    display: flex;
}
 
.banner-container>div>img {
    width: 55rem;
    height: 40rem;
}

button.nav-button.btn{
    position: relative;
    display: block;
    margin-left: 150px;
    margin-top: 95px;
    /* margin-bottom: 100px; */
    padding: 25px 75px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #5955B3;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}