@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    background-color: #F0F4F5;
    margin: auto;
    /* Auto */
    overflow: hidden;
}

nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-right: -180px;
}

nav ul li {
    list-style: none;
    margin-right: 70px;
    font-weight: 600;
}

nav ul li:hover {
    color: #ffffff;
    background-color: #ffb87a;
    border: none;
    padding: 2px 15px;
    border-radius: 25px;
    transition: 0.5s;
}

nav ul li:first-child {
    color: #ffffff;
    background-color: #41D399;
    border: none;
    padding: 2px 15px;
    border-radius: 25px;
}

/* Hero Section */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

main section {
    width: 50%;
}

.leftSection {
    margin-left: 5%;
    position: relative;
}

.topAngle {
    width: 25px;
}

.leftSection h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    font-size: 70px;
}

.leftSection p {
    font-family: 'Work Sans', sans-serif;
    color: #808080;
    font-size: 18px;
    margin: 20px 0;
}

.bottomAngle {
    width: 25px;
    position: absolute;
    right: 25px;
}

.stethoscope {
    position: absolute;
    width: 90%;
    top: -60px;
    right: -25px;
    z-index: -1;
}

.mouse {
    position: absolute;
    right: -30px;
    bottom: -30px;
    width: 30px;
}

.leftSection button {
    margin-top: 15px;
    color: #ffffff;
    background-color: #41D399;
    padding: 20px 40px;
    border: none;
    border-radius: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.leftSection button:hover {
    transition: 0.5s;
    background-color: #ffb87a;
}
/* Right Section */

.greenBox,
.yellowBox {
    position: absolute;
    right: 0;
    /* z-index: -1; */
    top: 250px;
}

.yellowBox {
    top: 300px;
    right: -10px;
}

.doctor-img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
}

/* minor changes */
